<script>

	// for touch and mouseup fire askNewStartup()
	$(document).bind("touchend mouseup",function (e) {
	    var container = $(".name");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	    	askNewStartup();
	    }
	});

	// for spacebar fire askNewStartup()
	$(window).keypress(function(e) {

	  if (e.keyCode == 0 || e.keyCode == 32) {
	  	askNewStartup();
	  }

	});

	// fire getNewStartups
	function askNewStartup(){
		if (!$('body').hasClass('wait')){
		    $('body').addClass('fadeOut').addClass('wait');
		    setTimeout(function(){
				getNewStartups();
			},250);
		}
	}


	function getNewStartups() {

	 	var API = "/welcome/index.json";
		$.getJSON( API, {format: "json"}).done(function(data){

			$('body').removeClass('fadeOut');

			var decoded0 = $('<div/>').html(data.titles[0].logo).text();
			var decoded1 = $('<div/>').html(data.trends[1].logo).text();
			var decoded2 = $('<div/>').html(data.problems[2].logo).text();

			$('.logos .cell:eq(0)')
				.css('background',data.titles[0].color)
				.find('.double').html(decoded0 + '<a class="name" href="'+ data.titles[0].url +'" target="_blank"><div>'+data.titles[0].name+'</div></a>')

			$('.logos .cell:eq(0)')
				.css('background',data.trends[0].color)
				.find('.double').html(decoded1 + '<a class="name" href="'+ data.trends[0].url +'" target="_blank"><div>'+data.trends[0].name+'</div></a>')

			$('.logos .cell:eq(0)')
				.css('background',data.problems[0].color)
				.find('.double').html(decoded2 + '<a class="name" href="'+ data.problems[0].url +'" target="_blank"><div>'+data.problems[0].name+'</div></a>')

			$('.logos svg *').attr('fill','#fff');

			setTimeout(function(){
				$('body').removeClass('wait');
			},500)
	   	})
			.fail(function(err) {
    console.log( "uh oh", err );
  })
	}
</script>

<div class="table logos">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<div class="double">
			<%= title.logo.html_safe %>
			<a class="name" href="<%= title.url %>" target="_blank" rel="nofollow"><div><%= title.name %></div></a>
		</div>
	</div>
	<% end %>
	<% @trends.each do |trend| %>
	<div class="cell" style="background:<%= trend.color %>">
		<div class="double">
			<%= trend.logo.html_safe %>
			<a class="name" href="<%= trend.url %>" target="_blank" rel="nofollow"><div><%= trend.name %></div></a>
		</div>
	</div>
	<% end %>
	<% @problems.each do |problem| %>
	<div class="cell" style="background:<%= problem.color %>">
		<div class="double">
			<%= problem.logo.html_safe %>
			<a class="name" href="<%= problem.url %>" target="_blank" rel="nofollow"><div><%= problem.name %></div></a>
		</div>
	</div>
	<% end %>
</div>
<!-- <div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div>
<div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div> -->
<div class="footer">
	<span class="desktop">Presiona [ESPACIO] para conseguir su siguiente idea de emprendimiento.</span> Hecho por @<a href="https://twitter.com/stSilent" target="_blank">Vladimir</a> and @<a href="https://twitter.com/monstercritic" target="_blank">Sergey</a>. Modificado por @<a href="https://twitter.com/basicavisual" target="_blank">Ali</a>.
</div>
</div>
